body {
    padding: 0;
    margin: 0;
    background-color: cadetblue;
}

form {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

small {
    color: red;
}

h5 {
    text-align: center;
}